/*PORTFOLIO STYLESHEET!*/

/*Phone size*/
/* @media screen and (min-width: 430px){ */


	.skip a{
		background: white;
		left: 0;
		padding: 6px;
		-webkit-transition: top 1s ease-out;
		transition: top 1s ease-out;
		z-index: 1;
	  
		/*Your code here*/
		position: absolute;
		top: -40px;
	  }
	  
	  /*Your Code Here*/
	  /*Write selector/rule property to position the skip class element*/
	  .skip a:focus{
		top:0px;}
	  
	  
	  
	  /*Your Code Here*/
	  /*Write selector/rule property to style all elements when in focus*/
	  .element:focus{
		border-width: 2px;
	  }


	.container {
		position: relative;
		width: 50%;
	  }
	  
	  .image {
		display: block;
		width: 100%;
		height: auto;
	  }
	  
	  .overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: #008CBA;
	  }
	  
	  .container:hover .overlay {
		opacity: 1;
	  }
	  
	  .text {
		color: white;
		font-size: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	  }











/* Style the header: fixed position (always stay at the top) */
.header {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	background-color: #f1f1f1;
  }
  
  /* The progress container (grey background) */
  .progress-container {
	width: 100%;
	height: 8px;
	background: #ffffff;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
	height: 8px;
	background: #217cff;
	width: 0%;
  }

h1{
	display: block; 
	font-size: 2em; 
	margin-top: 0.67em; 
	margin-bottom: 0.67em; 
	margin-left: 0; 
	margin-right: 0; 
	font-weight: bold;
	text-align: center;
	font-family: 'Sen', sans-serif;
	color: #217CFF;
}





nav ul li{
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	background-color:white;
	padding:10px;
	border:2px solid #217CFF;
	text-decoration: none;
}




/* Digital Art Gallery */
.gallery{
	min-height: 600px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
  
  }
  
  .gallery > img{
	border: 5px #217CFF solid;
	margin: 10px;
	width: 220px;
  }

.gallery > img:hover
{
	transform:scale(1.4);
	-webkit-transform: scale(1.4);

}

/*grid for index.html images*/


header{
	background: #fff;
	border-bottom: 3px solid #FF6347;
	display: flex;
	align-items: center;
	flex-direction: column;
  
  
  }

  /*display:grid instead of display flex line 66
  */
  
  .nav_links{
	/* display: flex;
	flex-direction: row; */
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	text-decoration: none;
	
  
  }


  
  .nav_links a{
	color: black;
	text-decoration: none;
  }
  

  .nav_links a:hover{
	color: #217cff;
	text-decoration: none;

  }


  .nav_links .current {
	
	color: #0E0F73 ;
	text-decoration: underline;
	background-color: yellow;
	
}



  body{
	font-family: 'Sen', sans-serif;
	margin:1%;
	padding:1%;
	
}

p {
	display: block;
	text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 80px;
	margin-inline-end: 80px;
	font-family: 'Sen', sans-serif;
	
}

header, main, nav, footer{
	border: 1px solid grey;
	margin-bottom: 10px;
}

img{
	height: 200px;
	width: inherit;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

header img{
	width: 95vw;
	height: inherit;

}


footer{
	text-align: center;


}





/*FORM*/




  @media screen and (min-width: 760px){
	#logo{min-width:300px}

  
	/* Navbar */
	header{
	  flex-direction: row;
	  justify-content: space-between;
	  
  }
	
  
	.nav_links{  
	  flex-direction: column;
	  text-decoration: none;
	
  
	}
  
	.nav_links a{
	  padding: 0px;
	}
  } 


  /*@media screen and (min-width: 1050px)*/



/*Form code from Colleen*/


  fieldset{
	display:grid;
	grid-template-columns: 1fr;
  }
  legend{ 
	font-size: 125%;
	/* text-transform: lowercase; */
	text-align: center;
  }
  
  /* label{
	display: inline-block;
	margin-right:10px;
	width:15%;
  } */
  input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  } 

  input:focus{
	  background-color: yellow;
	  border: 2px solid #217CFF;
  }

  textarea:focus{
	background-color: yellow;
	border: 2px solid #217CFF;
}
  span{
	margin-left:20%;
	font-family: italic;
	font-weight: bold;
  }
  
  textarea{
	width: 100%;
	/* height: 35vh; */
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  
  
  input[type=checkbox]{
	  display:inline;
	  width:inherit;
  }
  
  input[type=submit] {
	background-color: black;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
  }
  
  input[type=submit]:hover {
	opacity: 0.8;
  }
  
  

  @media screen and (min-width: 1200px){
	#logo{min-width:300px}

  
	/* Navbar */
	header{
	  flex-direction: row;
	  justify-content: space-between;
	  
  }
	
  
	.nav_links{  
	  flex-direction: row;
	  text-decoration: none;
	
  
	}
  
	.nav_links a{
	  padding: 0px;
	}
  } 
  
  
  


   @media screen and (prefers-reduced-motion: reduce) {
	.gallery > img:hover {
		transform:none;} 
   }